*,
*::before,
*::after {
	box-sizing: border-box;
}

.header-and-main-info-container {
	background-image: url(/assets/headerbackground.png);
	background-size: cover;
}

/* Header */

.header {
	height: 100px;

	background-color: #10101dd9;
}

.header__content-container {
	width: 61%;
	height: 100%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__content-container__h1 {
	font-size: 28px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
}

.header__content-container__h1 span {
	color: #42a9ed;
}

.navigation {
	width: 40%;
}

.navigation__ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	font-size: 13px;
	letter-spacing: 0px;
	line-height: 25px;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

.navigation__ul__first-link {
	color: #42a9ed;
}

/* Main info */

.main-info-container {
	width: 61%;
	margin: 0 auto;
	margin-top: 5%;
	padding-bottom: 100px;
}

.main-info-container__h2 {
	width: 85%;

	font-size: 48px;
	line-height: 64px;
	color: #000000;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
}

.main-info-container__h2 span {
	color: #3e9cdc;
}

.advantages-container {
	margin-top: 5%;
}

.advantages-container__h4 {
	font-size: 20px;
	line-height: 34px;
	color: #2a2b30;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
}

.advantages-container__ul {
	font-size: 20px;
	line-height: 34px;
	color: #2a2b30;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.main-info-container__buttons {
	width: 50%;
	margin-top: 5%;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.main-info-container__buttons__first-btn {
	width: 183px;
	height: 42px;

	font-size: 14px;
	letter-spacing: 0px;
	line-height: 38px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	text-align: center;

	border-radius: 4px;
	background-color: #3e9cdc;
	border: 1px solid #ffffff;

	outline: none;
}

.main-info-container__buttons__second-btn {
	width: 183px;
	height: 42px;

	font-size: 13px;
	letter-spacing: 0px;
	line-height: 18px;
	color: #2a2b30;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	text-align: center;

	border-radius: 4px;
	background-color: #ffffff;
	border: 1px solid #6f6d7b;

	outline: none;
}

/* Order */

.order-container {
	height: 800px;

	background-image: url(/assets/backgroundorder.png);
	background-size: cover;
}

.order-content-container {
	width: 61%;
	margin: 0 auto;
	padding-top: 7%;
}

.order-content-container__h2 {
	font-size: 36px;
	color: #ffffff;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.order-content-container__h2 span {
	color: #3e9cdc;
}

.order-content-container__p {
	font-size: 18px;
	line-height: 50px;
	color: #bbbbbb;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.order-container__scheme {
	display: flex;
	margin-top: 60px;
}

.order-container__scheme p {
	width: 101px;

	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

.dotted-line {
	width: 10%;
	height: 1px;
	margin-top: 5%;
	margin-left: 10px;
	margin-right: 10px;

	border-top: 8px dotted #ffffff;
}

.personal-info-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.select-system-container,
.input-email-container,
.input-name-container {
	width: 32%;
}

.select-system-container {
	position: relative;
}

.select-system-container__select {
	position: relative;

	width: 100%;
	height: 48px;
	padding-left: 15px;

	font-size: 18px;
	line-height: 46px;
	color: #272733;
	font-weight: 400;
	font-family: 'Lato', sans-serif;

	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.8509803921568627);
	border: 1px solid #ffffff;
	background-image: url(/assets/arrow.png);
	background-repeat: no-repeat;
	background-position: 252px 21px;

	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.options-container {
	display: none;
}

.visible {
	position: absolute;

	display: block;
	height: 130px;
	width: 100%;
	padding-left: 15px;

	font-size: 18px;
	line-height: 34px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;

	background-color: rgba(39, 39, 51, 0.9019607843137255);

	overflow: scroll;
}

.visible::-webkit-scrollbar {
	width: 5px;
}

.visible::-webkit-scrollbar:horizontal {
	display: none;
}

.visible::-webkit-scrollbar-thumb {
	height: 45%;

	border-radius: 12px;
	background: #3e9cdc;
}

.visible::-webkit-scrollbar-track {
	border-radius: 3px;
	background-color: #3d4050;
}

.input-email-container__input,
.input-name-container__input {
	width: 100%;
	height: 48px;
	padding-left: 15px;

	font-size: 18px;
	line-height: 22px;
	color: #272733;
	font-weight: 400;
	font-family: 'Lato', sans-serif;

	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.8509803921568627);
	border: 1px solid #ffffff;

	outline: none;
}

.input-email-container__input::placeholder,
.input-name-container__input::placeholder {
	color: #272733;
}

.range-and-files-container {
	display: flex;
	justify-content: space-between;
}

.range-container {
	display: flex;
	flex-direction: column;
	width: 66%;
}

.range-container__label-and-percents {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	font-size: 18px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.range-container__input {
	color: #3e9cdc;
}

input[type='range'] {
	width: 100%;

	-webkit-appearance: none;
	outline: none;
}

input[type='range']::-webkit-slider-thumb {
	width: 24px;
	height: 24px;
	margin-top: -11px;

	border: 3px solid #286690;
	border-radius: 12px;
	background: #42a9ed;

	-webkit-appearance: none;
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	width: 24px;
	height: 24px;

	border: 3px solid #286690;
	border-radius: 12px;
	background: #42a9ed;

	cursor: pointer;
}

input[type='range']::-ms-thumb {
	width: 24px;
	height: 24px;

	border: 3px solid #286690;
	border-radius: 12px;
	background: #42a9ed;

	cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 5px;

	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #ffffff;
	border-radius: 1.3px;
	border: 0.2px solid #010101;

	cursor: pointer;
}

input[type='range']:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}

input[type='range']::-moz-range-track {
	width: 100%;
	height: 0.5px;

	background: #ffffff;

	cursor: pointer;
}

input[type='range']::-ms-track {
	width: 100%;
	height: 8.4px;

	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;

	cursor: pointer;
}

input[type='range']::-ms-fill-lower {
	background: #ffffff;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']:focus::-ms-fill-lower {
	background: #ffffff;
}

input[type='range']::-ms-fill-upper {
	background: #ffffff;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type='range']:focus::-ms-fill-upper {
	background: #ffffff;
}

.add-files-btn-container {
	width: 32%;
}

.add-files-btn-container__btn {
	width: 100%;
	height: 48px;

	font-size: 15px;
	line-height: 41px;
	color: #272733;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	text-align: center;

	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.9490196078431372);
	background-image: url(/assets/file.png);
	background-repeat: no-repeat;
	background-position: 36px 10px;
	border: 2px solid #3e9cdc;

	outline: none;
}

.submit-btn-container {
	width: 100%;

	text-align: center;
}

.submit-btn-container__btn {
	width: 32%;
	height: 48px;

	font-size: 15px;
	line-height: 22px;
	color: #ffffff;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	text-align: center;

	border-radius: 3px;
	background-color: #3e9cdc;
	border: 1px solid #ffffff;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 190px;
	margin-top: 50px;
}

/* Footer */

.footer {
	height: 80px;

	background-color: #3d4050;
}

.footer-content-container {
	display: flex;
	justify-content: space-between;
	width: 61%;
	margin: 0 auto;
	padding-top: 2.5%;

	font-size: 11px;
	line-height: 14px;
	color: #c3c3c3;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
}

.sponsors-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 36%;

	border-right: 1px solid #c3c3c3;
	border-left: 1px solid #c3c3c3;
}

.contact-info-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 28%;
}

.link-container {
	display: flex;
}

.link-container img {
	margin-right: 5px;
}

@media screen and (max-width: 1370px) {
	.main-info-container__buttons {
		width: 60%;
	}

	.range-and-files-container {
		flex-direction: column;
		align-items: center;
	}

	.range-container {
		width: 100%;
		margin-top: 10px;
	}

	.add-files-btn-container {
		width: 300px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 1215px) {
	.sponsors-container {
		display: none;
	}

	.contact-info-container {
		width: 40%;
	}

	.footer {
		height: 50px;
	}

	.main-info-container__buttons {
		width: 68%;
	}
}

@media screen and (max-width: 930px) {
	.main-info-container__buttons {
		width: 82%;
	}

	.order-container {
		height: 850px;
	}

	.personal-info-container {
		flex-direction: column;
	}

	.select-system-container,
	.input-email-container,
	.input-name-container {
		width: 100%;
		margin-top: 10px;
	}

	.select-system-container__select {
		background-position: 95% 21px;
	}
}

@media screen and (max-width: 850px) {
	.main-info-container__buttons {
		width: 90%;
	}

	.header__content-container__h1 {
		font-size: 22px;
	}

	.order-container {
		height: 1750px;
	}

	.order-container__scheme {
		flex-direction: column;
		align-items: center;
	}

	.dotted-line {
		width: 1px;
		height: 40px;
		margin-top: 10px;
		margin-bottom: 10px;

		border-top: none;
		border-left: 8px dotted #ffffff;
	}

	.order-content-container__p {
		line-height: 25px;
	}

	.submit-btn-container {
		display: flex;
		justify-content: center;
	}

	.submit-btn-container__btn {
		width: 300px;
	}

	.footer-content-container {
		width: 100%;
		padding-left: 10px;
	}
}

@media screen and (max-width: 710px) {
	.main-info-container__buttons {
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.main-info-container__buttons__second-btn {
		margin-top: 15px;
	}
}

@media screen and (max-width: 660px) {
	.header__content-container {
		width: 90%;
	}
}

@media screen and (max-width: 530px) {
	.link-container {
		display: none;
	}

	.footer-content-container {
		display: block;
	}
}

@media screen and (max-width: 430px) {
	.header__content-container__h1 {
		font-size: 15px;
	}

	.navigation {
		width: 50%;
	}

	.main-info-container__h2 {
		font-size: 35px;
		text-align: center;
	}

	.order-content-container__h2 {
		font-size: 27px;
	}
}
